# Chi$^2$ ($\chi^2$) Test for Independence

aka Pearson's Chi$^2$ test. Pronounced as 'Ki' as in kite.


https://docs.google.com/presentation/d/13V7cMcgbM6bIQL2fbMtONre15iiNKpxnX7ECiWTxrVI/edit?usp=sharing

Lets us test the hypothesis that one group is independent of another
- $H_0$ is always that there is no association between the groups (they are independent)
- $H_a$ is that there is a association (they are not independent) between the groups


The null hypothesis assumes that the observed frequencies for a categorical variable match the expected frequencies for the categorical variable

## The Quick Way To Run a Chi$^2$ Test

1. form hypothesis
2. make contigency table
3. use stats.chi2_contingency

## Example 1 - Tips Data

In [5]:
import pandas as pd
import numpy as np

from pydataset import data
from scipy import stats

In [8]:
#load tips dataset

df = data('tips')

In [ ]:
#check out the dataset

## Is smoking independent of time of day?

### 1. Form hypothesis

- $H_o$: There is no association between the smoker and time of the day (independence)
- $H_a$: There is that there is a association between smoker and time of day

### 2. Make contigency table

In [18]:
#set our alpha
alpha = .05

In [40]:
#look at smoker data

In [ ]:
#look at time data

In [13]:
#make 'contingency' table using pandas crosstab
observed = pd.crosstab(df.smoker, df.time)
observed

time    Dinner  Lunch
smoker
No         106     45
Yes         70     23

### 3. Use stats.chi2_contingency

In [14]:
#use stats chi2_contingency
stats.chi2_contingency(observed)

(0.5053733928754354,
 0.4771485672079724,
 1,
 array([[108.91803279,  42.08196721],
        [ 67.08196721,  25.91803279]]))

In [15]:
#chi2_contingency prints out 4 values - chi2, p-value, degrees of freedom, expected values
chi2, p, degf, expected = stats.chi2_contingency(observed)

In [16]:
#output values
print('Observed')
print(observed.values)
print('\nExpected')
print(expected.astype(int))
print('\n----')
print(f'chi^2 = {chi2:.4f}')
print(f'p     = {p:.4f}')

Observed
[[106  45]
 [ 70  23]]

Expected
[[108  42]
 [ 67  25]]

----
chi^2 = 0.5054
p     = 0.4771

In [19]:
if p < alpha:
    print('We reject the null')
else:
    print("we fail to reject the null")

we fail to reject the null

> a low chi^2 value typically leads to a high p-value

## Example 2 - Attrition Data

In [20]:
#get data
df = pd.read_csv("https://gist.githubusercontent.com/ryanorsinger/6ba2dd985c9aa92f5598fc0f7c359f6a/raw/b20a508cee46e6ac69eb1e228b167d6f42d665d8/attrition.csv")

In [21]:
#always look at your data!!
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

### What could be categorical data???

Let's guess by looking at how many different values each columm has

In [25]:
#.nunique counts the number of unique values in each column
df.nunique()

Age                           43
Attrition                      2
BusinessTravel                 3
DailyRate                    886
Department                     3
DistanceFromHome              29
Education                      5
EducationField                 6
EmployeeCount                  1
EmployeeNumber              1470
EnvironmentSatisfaction        4
Gender                         2
HourlyRate                    71
JobInvolvement                 4
JobLevel                       5
JobRole                        9
JobSatisfaction                4
MaritalStatus                  3
MonthlyIncome               1349
MonthlyRate                 1427
NumCompaniesWorked            10
Over18                         1
OverTime                       2
PercentSalaryHike             15
PerformanceRating              2
RelationshipSatisfaction       4
StandardHours                  1
StockOptionLevel               4
TotalWorkingYears             40
TrainingTimesLastYear          7
WorkLifeBalance                4
YearsAtCompany                37
YearsInCurrentRole            19
YearsSinceLastPromotion       16
YearsWithCurrManager          18
dtype: int64

## Ex. Is Attrition independent from Business Travel amount?

### 1. Form hypothesis

$H_0$: Attrition and Business travel have no association (They are independent)

$H_a$: Attrition and Business travel are associated (they are dependent)

### 2. Make contigency table

Let's scope out our columns and see what categories we have

In [26]:
#get unique values and counts from Attrition
df.Attrition.value_counts()

No     1233
Yes     237
Name: Attrition, dtype: int64

In [27]:
#get unique values and counts from BusineesTravel
df.BusinessTravel.value_counts()

Travel_Rarely        1043
Travel_Frequently     277
Non-Travel            150
Name: BusinessTravel, dtype: int64

In [38]:
#make contigency table
observed = pd.crosstab(df.Attrition, df.BusinessTravel)
observed

BusinessTravel  Non-Travel  Travel_Frequently  Travel_Rarely
Attrition
No                     138                208            887
Yes                     12                 69            156

### 3. Use stats.chi2_contingency

In [30]:
#calculate chi2 values
chi2, p, degf, expected = stats.chi2_contingency(observed)

In [31]:
print('Observed')
print(observed.values)
print('\nExpected')
print(expected.astype(int))
print('\n----')
print(f'chi^2 = {chi2:.4f}')
print(f'p     = {p:.4f}')

Observed
[[138 208 887]
 [ 12  69 156]]

Expected
[[125 232 874]
 [ 24  44 168]]

----
chi^2 = 24.1824
p     = 0.0000

> typically a high chi^2 value leads to a low p-value, depends on degrees of freedom

In [32]:
if p < alpha:
    print('We reject the null')
else:
    print("we fail to reject the null")

We reject the null

## Mini Exercise:
### Is Attrition independent from Department?

### 1. Form hypothesis

- $H_0$: There is no association between Attrition and Department (They are independent)
- $H_a$: There is an association between Attrition and Department (They are not independent)

### 2. Make contigency table

In [37]:
# how many categories we have in 'Department' column? (hint: value_counts())
df.Department.value_counts()

Research & Development    961
Sales                     446
Human Resources            63
Name: Department, dtype: int64

In [33]:
# crosstab for observed values between Attrition and Depts
observed = pd.crosstab(df.Attrition, df.Department)

### 3. Use stats.chi2_contingency

In [34]:
# use stats.chi2_contingency test 
chi2, p, degf, expected = stats.chi2_contingency(observed)

In [35]:
#output values
print('Observed')
print(observed.values)
print('\nExpected')
print(expected.astype(int))
print('\n----')
print(f'chi^2 = {chi2:.4f}')
print(f'p     = {p:.4f}')

Observed
[[ 51 828 354]
 [ 12 133  92]]

Expected
[[ 52 806 374]
 [ 10 154  71]]

----
chi^2 = 10.7960
p     = 0.0045

In [36]:
if p < alpha:
    print("We reject the hypothesis")
else:
    print("We fail to reject the null hypothesis")

We reject the hypothesis

## Correlation Extra FYI

> Expected values all need to be greater than 5, we normally don't run into this issue

> If not greater than 5, use fisher's exact test